{% comment %}
    This file contains the header, footer and
    navigation to be included in all pages
{% endcomment %}

<html>

	<head>

		<title>eBusPass</title>
        {% load staticfiles %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static "website/js/ie/html5shiv.js" %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static "website/css/main.css" %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "website/css/ie8.css" %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static "website/css/ie9.css" %}" /><![endif]-->
<script>
$(function(){
    var $select = $(".1-12");
    for (i=1;i<=12;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});
</script>
	</head>

    <div id="header-wrapper">
					<div class="container">

						<!-- Header -->
							<header id="header">
								<div class="inner">

									<!-- Logo -->
										<h1><a href="/user_profile/" id="logo">eBusPass</a></h1>

									<!-- Nav -->
                  {% block nav %}
										<nav id="nav">
											<ul>
												<li><a href="/user_profile/">Home</a></li>
												<li><a href="/signin/">Sign in</a></li>
                        <li><a href="/account_info/">Account Info</a></li>
                        <li><a href="/purchase_pass/">Purchase Pass</a></li>
												<li><a href="/purchase_history/">Purchase History</a></li>
                        <li><a href="#" class="alt icon fa-sign-out"></a></li>
											</ul>
										</nav>
                   {% endblock %}
								</div>
							</header>

					</div>
    </div>


    <div id="content">
        {% block content %}{% endblock %}
    </div>
    	<!-- Footer Wrapper -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
              <div class="3u"> </div>
							<div class="3u 12u(mobile)">

								<!-- Links -->
									<section>
										<h2>Useful Information</h2>
										<ul class="divided">
											<li><a href="http://www.regina.ca/residents/transit-services">Regina Transit</a></li>
											<li><a href="https://transitlive.com">Transit Live</a></li>
										</ul>
									</section>

							</div>
							<div class="3u 12u(mobile)">
                <section>
                  <h2>Get in Touch</h2>
                  <div>
                    <div class="row">
                      <div class="6u 12u(mobile)">
                        <ul class="divided">
    											<li><a href="webmaster@ebuspass.ca">Webmaster</a></li>
    										</ul>
                      </div>
                    </div>
                  </div>
                </section>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Template: <a href="http://html5up.net/zerofour">ZeroFour</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

		</div>

    <!-- Scripts -->
			<script src=" {% static "website/js/jquery.min.js" %}"></script>
			<script src=" {% static "website/js/jquery.dropotron.min.js" %}"></script>
			<script src=" {% static "website/js/skel.min.js" %}"></script>
			<script src=" {% static "website/js/skel-viewport.min.js" %}"></script>
			<script src=" {% static "website/js/util.js" %}"></script>
			<!--[if lte IE 8]><script src=" {% static "assets/js/ie/respond.min.js" %}"></script><![endif]-->
			<script src=" {% static "website/js/main.js" %}"></script>


</html>
