{% extends "website/base.html" %}



{% block content %}
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div id="content">

									<!-- Content -->

										<article>
											<header class="major">

												<h1>Confirmation</h>
												<p>Thank you for your payment.</p>
											</header>

											<p> Your monthly pass will expire on yyyy/mm/dd </p>
											<p> you have 'x' number of riders left </p>
											<span class="image featured"><img src="images/pic08.jpg" alt="" /></span>

											
										</article>

								</div>
							</div>
						</div>
					</div>
					
{% endblock %}