{% extends "website/base.html" %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<div id="sidebar">

							<!-- Sidebar -->

							<section>
								<header class="major">
									<h2>User Profile</h2>
								</header>
								<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
									Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
									Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
									consequat etiam.</p>
									<footer>
										<a href="#" class="button icon fa-info-circle">Find out more</a>
									</footer>
								</section>
							</div>
						</div>
						<div class="8u 12u(mobile) important(mobile)">
							<div id="content">
								<header>
								<!-- Content -->
								<h2>WELCOME TO YOUR PAYMENT PORTAL</h2>
								<span style="color:red">{{cancel}}</span>
								<span style="color:green">{{success}}</span>
								</header>
								<div class="row">
									<div class="6u">
									<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="8TSGVASLLDW6L">
										<table>
											<tr><td><input type="hidden" name="on0" value="Monthly Pass">Monthly Pass</td></tr><tr><td><select name="os0">
												<option value="Youth">Youth $55.00 CAD</option>
												<option value="Post Secondary">Post Secondary $65.00 CAD</option>
												<option value="Adult">Adult $75.00 CAD</option>
											</select> </td></tr>
										</table>
										<input type="hidden" name="currency_code" value="CAD">
										<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>
								</div>
								<div class="6u">
									<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="3SF78VX5AQFQJ">
										<table>
											<tr><td><input type="hidden" name="on0" value="Per Ride">Per Ride</td></tr><tr><td><select name="os0">
												<option value="Ten Rides">Ten Rides $24.50 CAD</option>
											</select> </td></tr>
										</table>
										<input type="hidden" name="currency_code" value="CAD">
										<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
