{% extends "website/base.html" %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="3u 12u(mobile)">
						<div id="sidebar">

							<!-- Sidebar -->


							</div>
						</div>
						<div class="8u 12u(mobile) important(mobile)">
							<div id="content">
								<header>
									<!-- Content -->
									<h2>WELCOME TO YOUR PAYMENT PORTAL</h2>
								</header>
								<div class="row">
									<div class="12u(mobile) important(mobile)">
										<span style="color:red;">{{error}}</span>
										<form action="/purchase_pass/" method="post">
											{% csrf_token %}
											<label for="pass_type">Select A Pass Below</label>
											{{form}}
										  <br/><br/>
  										<div id="dropin-container"></div>
											<input type="submit" name="purchase" value="Purchase"/>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script type="text/javascript">
		braintree.setup("{{token}}", "dropin", {
	  container: "dropin-container"
	});
	</script>
{% endblock %}
