{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="3u"></div>
        <div class="6u">
          <header class="major">
            <h2>Purchase History</h2>
          </header>
          <table class="default">
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Payment Type</th>
            </tr>
            <tr>
              <td>March 28th, 2015</td>
              <td>$67.76</td>
              <td>BitCoins</td>
            </tr>
            <tr>
              <td>January 4th, 2015</td>
              <td>$79.93</td>
              <td>PayPal</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
            <tr>
              <td>May 3rd, 2001</td>
              <td>$23.34</td>
              <td>Visa</td>
            </tr>
          </table>
        </div>
        <div class="3u"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
