{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="2u"></div>
        <div class="8u">
          <header class="major">
            <h2>Purchase History</h2>
          </header>
          <table class="default">
            <tr>
              <th>Date</th>
              <th>Cost</th>
              <th>Pass Type</th>
              <th>Quantity</th>
            </tr>
            {% for purchase in purchase_history %}
            <tr style="background-color:{% cycle '#eee' '#fff' %}">
              <td>{{purchase.payment_date}}</td>
              <td>{{purchase.mc_gross}}</td>
              <td>{{purchase.get_pass_type}} {{purchase.item_name}}</td>
              <td>{{purchase.quantity}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="3u"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
