{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="2u"></div>
        <div class="8u">
          <header class="major">
            <h2>Purchase History</h2>
          </header>
          {{user.userid}}
          <span><b>Current Pass Status:</b></span><br/>
          {% if not bus_pass %}
            <span> You currently do not have a bus pass</span></br>
          {% else %}
            <span> Rides Remaining: {{bus_pass.rides}}</span></br>
            <span> Monthly Expiration Date: {{bus_pass.monthlypass}} </span></br>
          {% endif %}
          <table class="default">
            <tr>
              <th>Date</th>
              <th>Cost</th>
              <th>Pass Type</th>
              <th>Quantity</th>
            </tr>
            {% for purchase in purchase_history %}
            <tr style="background-color:{% cycle '#eee' '#fff' %}">
              <td>{{purchase.date}}</td>
              <td>{{purchase.cost}}</td>
              <td>{{purchase.get_pass_type}} {{purchase.item_name}}</td>
              <td>{{purchase.quantity}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="3u"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
