{% extends "website/base.html" %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="wrapper style2">
		<div class="inner">
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<div id="sidebar">

							<!-- Sidebar -->

							<section>
								<header class="major">
									<h2>User Profile</h2>
								</header>
								<p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
									Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
									Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
									consequat etiam.</p>
									<footer>
										<a href="/user_profile" class="button icon fa-info-circle">Find out more</a>
									</footer>
								</section>
							</div>
						</div>
						<div class="8u 12u(mobile) important(mobile)">
							<div id="content">
								<header>
									<!-- Content -->
									<h2>WELCOME TO YOUR PAYMENT PORTAL</h2>
									<span style="color:red">{{cancel}}</span>
									<span style="color:green">{{success}}</span>
								</header>
								<div class="row">
									<div class="4u">
										<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
											{{monthly_form}}
											<select name="os0">
												<option name="os0" value="Select pass type">Select Monthly Pass Type</option>
												<option name="os0" value="Youth">Youth - $55</option>
												<option name="os0" value="Post Secondary">Post Secondary - $65</option>
												<option name="os0" value="Adult">Adult - $75</option>
											</select>
											<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Buy it Now" />
										</form>
									</div>
									<div class="1u"></div>
									<div class="4u">
										<span>Purchase 10 Rides</span>
										{{per_ride_form.sandbox}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
