{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style1">
  <div class=".box.feature2">
    <div class="container">
      <div class="row">
        <div class="3u">
        </div>
        <div class="6u">
          <header class="major">
            <h2>registration</h2>
          </header>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="newUsername">Username</label>
              <input type="text" class="form-control" id="newUsername" placeholder="current Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="password">RE-Password</label>
              <input type="password" class="form-control" id="password" placeholder="re-Password">
            </div>
            
            <div class="form-group">
              <label for="newEmail">Email</label>
              <input type="email" class="form-control" id="newEmail" placeholder="current Email">
            </div>
            
            <div class="form-group">
              <label for="newAddress">Address</label>
              <input type="text" class="form-control" id="newAddress" placeholder="current Address">
            </div>
            
            <div class="form-group">
              <label for="newPostCode">Post Code</label>
              <input type="text" class="form-control" id="newPostCode" placeholder="Post Code">
            </div>
            <div class="form-group">
              <label for="newPhoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="newPhoneNumber" placeholder="Phone Number">
            </div>
            <br/><br/>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Sign-Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
