{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style1">
  <div class=".box.feature2">
    <div class="container">
      <div class="row">
        <div class="3u">
        </div>
        <div class="6u">
          <header class="major">
            <h2>My Profile</h2>
          </header>
          <p>
            <strong>Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Name:</strong>
            <span>Sirjon</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
