{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style1">
  <div class=".box.feature2">
    <div class="container">
      <div class="row">
        <div class="3u">
          <img src="bg02.png" alt="my photo" style="width:256px;height:256px;">
        </div>
        <div class="6u">
          <header class="major">
            <h2>My Profile</h2>
          </header>
          <p>
            <strong>Username:</strong>
            <span>{{user.username}}</span>
          </p>
          <p>
            <strong>First Name:</strong>
            <span>{{user.first_name}}</span>
          </p>
          <p>
            <strong>Last Name:</strong>
            <span>{{user.last_name}}</span>
          </p>
          <p>
            <strong>Email:</strong>
            <span>{{user.email}}</span>
          </p>
          <p>
            <strong>Registration Date:</strong>
            <span>{{user.date_joined}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
