{% extends "website/base.html" %}

{% block content %}

<div class="wrapper style1">
  <div class=".box.feature2">
    <div class="container">
      <div class="row">
        <div class="3u">
        </div>
        <div class="6u">
          <header class="major">
            <h2>My Profile</h2>
          </header>
          <p>
            <strong>Username:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>First Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Last Name:</strong>
            <span>Sirjon</span>
          </p>
          <p>
            <strong>Birthday:</strong>
            <span>11/11/1111</span>
          </p>
          <p>
            <strong>Email:</strong>
            <span>Sirjon@...</span>
          </p>
          <p>
            <strong>Address:</strong>
            <span></span>
          </p>
          <p>
            <strong>Phone Number:</strong>
            <span>1234567</span>
          </p>
          <p>
            <strong>Registration Date:</strong>
            <span>11/11/1111</span>
          </p>
          
        <br/><br />
        <form method="get" action="/registration/">
          <div class="form-group">
          <button type="submit" class="btn btn-default">New User</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
