{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="3u">
        </div>
        <div>
          <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="{% trans 'Submit' %}" />
          </form>

          {% else %}

          <p>{% trans "Password reset failed" %}</p>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
